In [2]:
import pandas as pd
import csv

In [13]:
# read .prt file
root_data="E:\\DATA\\DATA_Carlos_Phonos\\"
root_data="/Users/home/Documents/data/"

prt_file=root_data+'JoaoPereira/001/run-fonologico-data/PROJECT/ANALYSIS/Fonologico.prt'

conds=['Baseline ', 'Task ']
c_numel=[]
events_num=[]
TR=2.5
onset=[]
duration=[]
trial_type=[]

# open file.
with open(prt_file, newline = '') as f_reader:
    l=f_reader.readline()
    for idx, c in enumerate(conds):
        while not c in l:
            l = f_reader.readline()
        # read number of events.
        events_num.append(int(f_reader.readline()))
        print(c,int(events_num[idx]))
        # read events
        for e in range(int(events_num[idx])):
            temp_TR=f_reader.readline().split()
            # onset - TR to sec
            onset_sec=(int(temp_TR[0])-1)*TR       
            onset.append(onset_sec)
            duration_sec=(int(temp_TR[1])-int(temp_TR[0]))*TR
            # duration - TR to sec
            duration.append(duration_sec)
            trial_type.append(c)

Baseline  13
Task  12

In [14]:
import pandas as pd
events = pd.DataFrame({'trial_type': trial_type,
                       'onset': onset,
                       'duration': duration})

In [15]:
events

   trial_type  onset  duration
0   Baseline     0.0      12.5
1   Baseline    45.0      12.5
2   Baseline    90.0      12.5
3   Baseline   135.0      12.5
4   Baseline   180.0      12.5
5   Baseline   225.0      12.5
6   Baseline   270.0      12.5
7   Baseline   315.0      12.5
8   Baseline   360.0      12.5
9   Baseline   405.0      12.5
10  Baseline   450.0      12.5
11  Baseline   495.0      12.5
12  Baseline   540.0      12.5
13      Task    15.0      27.5
14      Task    60.0      27.5
15      Task   105.0      27.5
16      Task   150.0      27.5
17      Task   195.0      27.5
18      Task   240.0      27.5
19      Task   285.0      27.5
20      Task   330.0      27.5
21      Task   375.0      27.5
22      Task   420.0      27.5
23      Task   465.0      27.5
24      Task   510.0      27.5

In [16]:
events=events.sort_values('onset')
events=events.reset_index(drop=True)
events

   trial_type  onset  duration
0   Baseline     0.0      12.5
1       Task    15.0      27.5
2   Baseline    45.0      12.5
3       Task    60.0      27.5
4   Baseline    90.0      12.5
5       Task   105.0      27.5
6   Baseline   135.0      12.5
7       Task   150.0      27.5
8   Baseline   180.0      12.5
9       Task   195.0      27.5
10  Baseline   225.0      12.5
11      Task   240.0      27.5
12  Baseline   270.0      12.5
13      Task   285.0      27.5
14  Baseline   315.0      12.5
15      Task   330.0      27.5
16  Baseline   360.0      12.5
17      Task   375.0      27.5
18  Baseline   405.0      12.5
19      Task   420.0      27.5
20  Baseline   450.0      12.5
21      Task   465.0      27.5
22  Baseline   495.0      12.5
23      Task   510.0      27.5
24  Baseline   540.0      12.5

In [17]:
tsvfile = 'events_fonologico.tsv'
events.to_csv(tsvfile, sep='\t', index=False)
print("Created the events file in %s " % tsvfile)

Created the events file in events_fonologico.tsv

In [32]:
TR=2.5
onset_epoch=[]
duration_epoch=[]
trial_type_epoch=[]

for i in range(len(events)):
    idx_=((events['duration'][i]/TR))+1
    onset_=(events['onset'][i]) 
    for j in range(int(idx_)):   
        onset_epoch.append(onset_+(TR*j))
        duration_epoch.append(TR)
        trial_type_epoch.append(events['trial_type'][i])

events_epoch = pd.DataFrame({'trial_type': trial_type_epoch,
               'onset': onset_epoch,
               'duration': duration_epoch})

In [33]:
tsvfile = 'events_epoch_fonologico.tsv'
events_epoch.to_csv(tsvfile, sep='\t', index=False)
print("Created the events file in %s " % tsvfile)

Created the events file in events_epoch_fonologico.tsv

In [37]:
TR=2.5
num_events=222
betaseries_df=[]
onset_betaseries=[]
duration_betaseries=[]
trial_type_betaseries=[]

for i in range(num_events):
    onset_betaseries.append(TR*i)
    duration_betaseries.append(TR)
    trial_type_betaseries.append(i)

betaseries_df = pd.DataFrame({'trial_type': trial_type_betaseries,
               'onset': onset_betaseries,
               'duration': duration_betaseries})

In [38]:
tsvfile = 'betaseries_fonologico.tsv'
betaseries_df.to_csv(tsvfile, sep='\t', index=False)
print("Created the events file in %s " % tsvfile)

Created the events file in betaseries_fonologico.tsv